spring:
  cloud:
    gateway:
      routes:
        - id: product_route
          uri: lb://gulimall-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}

        - id: third-party
          uri: lb://gulimall-third-party
          predicates:
            - Path=/api/thirdparty/**
          filters:
            - RewritePath=/api/thirdparty/(?<segment>.*),/$\{segment}

#member
        - id: member-route
          uri: lb://gulimall-member
          predicates:
            - Path=/api/member/**
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}

#ware
        - id: ware-route
          uri: lb://gulimall-ware
          predicates:
            - Path=/api/ware/**
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}

        #没有匹配到的，交给后台
        - id: admin_route
          uri: lb://renren-fast #负载均衡到哪里
          predicates: #你的判断依据是：
            - Path=/api/**
          filters: #路径重写 下面是！
            - RewritePath=/api/(?<segment>.*),/renren-fast/$\{segment}

        #nginx负载均衡
        - id: gulimall_host_rout
          uri: lb://gulimall-product
          predicates:
            - Host=**.gulimall.com,gulimall.com


##前段项目，/api
## http://localhost:88/api/captcha.jpg   http://localhost:8080/renren-fast/captcha.jpg
## http://localhost:88/api/product/category/list/tree http://localhost:10000/product/category/list/tree

